/* Styles Start*/
.choose-problem {

	&__inner {

	}

	&__link {
		color: $grey;
		&:hover {
			color: $blue;
		}
	}
}
//========================================================
// %mobile
@media #{$mobileonly} {
	.choose-problem {
		margin-bottom: 5px;

		&__inner {
			
		}

		&__item {
			margin-bottom: 15px;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}

		&__link {
			font-size: 1.5rem;
			
		}
	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.choose-problem {

		&__inner {
			
		}
	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.choose-problem {
		margin-bottom: 15px;

		&__inner {
			width: 738px;
		}
	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.choose-problem {

		&__inner {
			margin-left: auto;
			margin-right: auto;
		}

		&__list {
			column-count: 3;
			// column-gap: 50px;
		}

		&__item {
			margin-bottom: 15px;
		}

		&__link {
			font-size: 1.6rem;
		}
	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.choose-problem {
		margin-bottom: 35px;

		&__inner {
			width: 760px;
		}
	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"