/* Styles Start*/
.faq-aside {
	border-radius: 8px;
	background-color: #ffffff;
	border: solid 1px #dfe1ea;
	position: relative;
	
	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 2rem;
		line-height: 1;
	}

	&__header {
		margin-bottom: 23px;
	}

	&__descr {
		margin-top: 10px;
		color: $grey;
		text-align: center;
		line-height: 1.55;
	}
}
//========================================================
// %mobile
@media #{$mobileonly} {
	.faq-aside {

	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.faq-aside {

	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.faq-aside {
		padding: 20px;
	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.faq-aside {
		margin-bottom: 30px;

	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.faq-aside {
		padding: 32px 28px 30px 28px;
	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"