/* Styles Start*/
.faq-form-success {
	opacity: 0;
	visibility: hidden;
	pointer-events:none;
	transition: all .3s linear;
	position: absolute;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(255,255,255,.95);

	&__text {
		font-size: 1.6rem;
		font-weight: 700;
		color: #2c2b3a;
		margin-bottom: 20px;
		line-height: 1;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 60px;
			height: 60px;
			background-color: #4fe787;
			border-radius: 50%;
			left: 50%;
			margin-left: -30px;
			top: -80px;
		}

		&::after {
			content: '';
			position: absolute;
			top: -64px;
			left: 50%;
			margin-left: -8px;
			width: 16px;
			height: 24px;
			transform: rotate(45deg);
			border: solid #fff;
			border-width: 0 4px 4px 0;
			border-radius: 2px;
		}
	}

	&__btn {
		padding: 11px 22px;
		text-align: center;
		background-color: #fff;
	}


}

.is-form-sent {
	.faq-form-success {
		opacity: 1;
		visibility: visible;
		pointer-events:auto;
	}
}
//========================================================
// %mobile
@media #{$mobileonly} {
	.faq-form-success {
		border-radius: 8px;
	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.faq-form-success {
		
	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.faq-form-success {
		
	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.faq-form-success {
		
	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.faq-form-success {
		
	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"