/* Styles Start*/
.faq-pops {
	&__item {

		&:not(:first-child) {
			padding-top: 20px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $silver;
			padding-bottom: 20px;
		}

		

	}
}
//========================================================
// %mobile
@media #{$mobileonly} {
	.faq-pops {

	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.faq-pops {

	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.faq-pops {

	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.faq-pops {

	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.faq-pops {

	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"