/* Styles Start*/
.qr-pop {
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}

	&__user {
		font-weight: 700;
	}

	&__text {
		line-height: 1.4;
	}

	&__id {
		font-size: 1.3rem;

		&:hover {
			color: $grey;
		}
	}
}
//========================================================
// %mobile
@media #{$mobileonly} {
	.qr-pop {
		
	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.qr-pop {
		
	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.qr-pop {
		
	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.qr-pop {
		
	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.qr-pop {
		
	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"