+b.about
	+e.inner.container
		+e.row.row
			+e.col.col-lg-9.col-sm-11.col-xs-12.col-lg-offset-3.col-sm-offset-1
				+e.content
					+e.H2.title О Сервисном центре iLikeService
					p
						|Наша команда состоит исключительно из любителей техники Apple. Мы, как и Вы, очень любим яблочную продукцию, а так же знаем многие тонкости ее работы.
					p
						|Под нашей крышей собрались единомышленники, для нас ремонт iPhone это не повседневная рутиная работа, а любимое и интересное занятие! Вы можете быть уверены, что все болтики и рабочие запчасти останутся на своем месте и не будут заменены на китайские аналоги. А неисправные элементы мы наоборот заменим и iPhone будет работать как часы ;) Не накручиваем бешеные стоимости на ремонты и не придумываем дополнительных неисправностей.
					p
						|Работаем не на количество, а на качество, поэтому большинство наших клиентов приходят к нам по рекомендации родных и друзей. Если случилась беда с iPhone двери наших сервисных центров всегда открыты для Вас!
			+e.logo-circle
				+e.logo-circle-shadows
				+e.logo-circle-image
					img(src="./assets/img/logo-dark.svg",alt)
			+e.bg-circle

