+b.choose-problem
	+e.inner
		+e.UL.list
			+e.item: +e.link(href="#") Разбилось стекло
			+e.item: +e.link(href="#") Не работает дисплей
			+e.item: +e.link(href="#") Не работает тачскрин
			+e.item: +e.link(href="#") Треснул корпус
			+e.item: +e.link(href="#") Попала вода
			+e.item: +e.link(href="#") Не включается
			+e.item: +e.link(href="#") Не заряжается
			+e.item: +e.link(href="#") Быстро разряжается
			+e.item: +e.link(href="#") Не работает Wi-Fi
			+e.item: +e.link(href="#") Не ловит сеть
			+e.item: +e.link(href="#") Требует iTunes
			+e.item: +e.link(href="#") Не работают кнопки
			+e.item: +e.link(href="#") Не работает камера
			+e.item: +e.link(href="#") Не работает звук
			+e.item: +e.link(href="#") Не работает микрофон
