+b.choose-model
	+e.inner
		+e.image
			img(src="./assets/img/img-iphone.svg")
		+e.UL.list
			+e.item: +e.link(href="#") iPhone X
			+e.item: +e.link(href="#") iPhone 8
			+e.item: +e.link(href="#") iPhone 7 Plus
			+e.item: +e.link(href="#") iPhone 7
			+e.item: +e.link(href="#") iPhone SE
			+e.item: +e.link(href="#") iPhone 6S
			+e.item: +e.link(href="#") iPhone 6S Plus
			+e.item: +e.link(href="#") iPhone 6
			+e.item: +e.link(href="#") iPhone 6 Plus
			+e.item: +e.link(href="#") iPhone 5C
			+e.item: +e.link(href="#") iPhone 5s
			+e.item: +e.link(href="#") iPhone 5
			+e.item: +e.link(href="#") iPhone 4S
			+e.item: +e.link(href="#") iPhone 4
