+b.depart-b
	+e.inner
		+e.left
		+e.right
			+e.btn(href="#") Вызвать мастера
		+e.text-wrapper
			+e.text-bg
			+e.text Ремонт iPhone <strong>с выездом мастера</strong> в Москве
		+e.icon
			svg(class="icon",width="49",height="95")
				use(xlink:href='#icon-wrench')
