+b.feedbacks
	+e.inner
		+e.wrapper
			+e.col
				+b.f-write
					+e.icon
						img(src="./assets/img/icon-chat.svg", alt)
					+e.text
						|Если вам понравился результат работы наших специалистов - оставьте отзыв о нашей работе и сервисе. Для нас это очень важно. Спасибо!
					+e.btn(href="#") Написать отзыв
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.check
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-1.svg", alt)
							+e.user-name Фархад
						+e.type(href="#") аудиоотзыв
					+e.content_text
						|Цветном для замены Wi Fi антенны в Айпаде Эир, тк пропадал интернет периодически. Но после замены антенны ничего не поменялось, итнернет то работает час-два, то обрывается. 
						|Сдал планшет по гарантии. Далее ожидал, что меня сделают виноватым, но произошло то, чего я совсем не ожидал, мне сказали, что проблема кроется не в антенне, а в модуле Wi Fi. Пришлось доплатить за работу и подождать пока заменят модуль. На следующий день забрал планшет.
						|Сейчас Wi Fi ловит замечательно, хотя не понятно, почему сразу не могли поменять модуль. Приношу благодарность коллективу сервисного цетра за то, что сделали все быстро, без лишних скандалов и разбирательств.
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.unchecked
							+e.item.unchecked
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-2.svg", alt)
							+e.user-name Фархад
						+e.type(href="#") аудиоотзыв
					+e.content_text
						|Все хорошо. Работа протекает очень быстро, без проблем. Делают все качественно. Также меня устроили цены. С мастером проверяли все функции на работоспособность. Я никуда не отходила и видела весь процесс ремонта. Обращаюсь к вам уже не в первый раз. Всем рекомендую ваш сервис и говорю, если возникли какие-то проблемы.
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.unchecked
							+e.item.unchecked
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-3.svg", alt)
							+e.user-name Иля
						+e.type(href="#") видеоотзыв
					+e.content_video
						//- +e.video-descr Видео отзыв клиента о сервисе
						<div class="youtube-player" data-id="Y8I21WzKZHU" data-related="0" data-control="1" data-info="1" data-fullscreen="1" style="width:100%;display: block; position: relative;cursor: pointer;max-height:172px;height:100%; overflow:hidden;padding-bottom:56.25%;margin:0 auto"> <img src="//i.ytimg.com/vi/Y8I21WzKZHU/hqdefault.jpg" style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;"> <div style="height: 47px; width: 67px; left: 50%; top: 50%; margin-left: -33px; margin-top: -24px; position: absolute; background: url('./assets/img/icon-youtube.png') no-repeat;"></div> </div> 
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.unchecked
							+e.item.unchecked
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-4.svg", alt)
							+e.user-name В.В.Путин
						+e.type(href="#") аудиоотзыв
					+e.content_audio
						<audio class="player" controls>
							<source src="./assets/audio/1.mp3" type="audio/mp3">
						</audio>
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.unchecked
							+e.item.unchecked
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-5.svg", alt)
							+e.user-name Илья
					+e.content_text
						|Доброжелательный и приветливый мастер. Все объяснил и рассказал. Ответил на все вопросы. Специалист предложил все возможные варианты решения моей проблемы.
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.unchecked
							+e.item.unchecked
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-6.svg", alt)
							+e.user-name Трамп
					+e.content_text
						|Было приятно работать с Вашими специалистами: быстро, вежливо, мне понравилось! Буду иметь в виду, куда обращаться, если что.
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.unchecked
							+e.item.unchecked
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-5.svg", alt)
							+e.user-name Илья
					+e.content_text
						|Доброжелательный и приветливый мастер. Все объяснил и рассказал. Ответил на все вопросы. Специалист предложил все возможные варианты решения моей проблемы.
			+e.col
				+b.feedback
					+e.head
						+b.UL.stars
							+e.item.check
							+e.item.check
							+e.item.check
							+e.item.unchecked
							+e.item.unchecked
						+e.date 14 сентябр 2017
					+e.user-type
						+e.user
							+e.user-icon
								img(src="./assets/img/icon-user-6.svg", alt)
							+e.user-name Трамп
					+e.content_text
						|Было приятно работать с Вашими специалистами: быстро, вежливо, мне понравилось! Буду иметь в виду, куда обращаться, если что.