+b.FOOTER.footer
	+e.inner.container
		.row
			+e.col.col-lg-2.col-sm-4.col-xs-12
				+e.col-title
					+e.col-title-text  Наши услуги
					+e.col-title-arrow
				+e.UL.col-list
					+e.col-item: +e.col-link(href="#") Ремонт iPhone
					+e.col-item: +e.col-link(href="#") Ремонт iPad
					+e.col-item: +e.col-link(href="#") Ремонт iPod
					+e.col-item: +e.col-link(href="#") Ремонт MacBook
					+e.col-item: +e.col-link(href="#") Ремонт Samsung
			+e.col.col-lg-2.col-sm-4.col-xs-12
				+e.col-title
					+e.col-title-text  Информация
					+e.col-title-arrow
				+e.UL.col-list
					+e.col-item: +e.col-link(href="#") Услуги и цены
					+e.col-item: +e.col-link(href="#") Вопросы и ответы
					+e.col-item: +e.col-link(href="#") Гарантия
					+e.col-item: +e.col-link(href="#") Отзывы
			+e.col.col-lg-2.col-sm-4.col-xs-12
				+e.col-title
					+e.col-title-text  Мы в сети
					+e.col-title-arrow
				+e.col-list_social
					+e.social-icons
						+e.social-cols-row
							+e.col-item_social: +e.col-link_social._ins(href="#")
								+e.col-link-text Инстаграм
								+e.col-link-icon_ins
									svg(class="icon",width="22",height="22")
										use(xlink:href='#icon-instagram')
							+e.col-item_social: +e.col-link_social._vk(href="#")
								+e.col-link-text Вконтакте
								+e.col-link-icon_vk
									svg(class="icon",width="27",height="16")
										use(xlink:href='#icon-vk')
						+e.social-cols-row
							+e.col-item_social: +e.col-link_social._telegram(href="#")
								+e.col-link-text Телеграм
								+e.col-link-icon_telegram
									svg(class="icon",width="21",height="18")
										use(xlink:href='#icon-telegram')
							+e.col-item_social: +e.col-link_social._youtube(href="#")
								+e.col-link-text Youtube
								+e.col-link-icon
									img(src="./assets/img/icon-youtube.svg")
			+e.col_contacts.col-lg-3.col-xs-12
				+e.contacts-wrapper.row
					.col-lg-12.col-sm-8.col-xs-12
						+e.address-wrapper.row
							.col-lg-12.col-xs-6
								+e.address
									+e.UL.list
										+e.address-item
											+e.metro
												+e.metro-icon
													img(src="./assets/img/icon-metro.svg", alt, width="24", height="16")
												+e.metro-text(href="#") Сокольники
											+e.street ул. Русаковская 22
											+e.map-passage(href="#") Карта проезда
							.col-lg-12.col-xs-6
								+e.address
									+e.UL.list
										+e.addres-item
											+e.metro
												+e.metro-icon
													img(src="./assets/img/icon-metro.svg", alt, width="24", height="16")
												+e.metro-text(href="#") Римская
											+e.street ул. С. Радонежского 23-25
											+e.map-passage(href="#") Карта проезда
					.col-lg-12.col-sm-4.col-xs-12
						+e.tel-wrapper
							+e.A.tel(href="tel:+79876781234")
								+e.tel-icon
									svg(class="icon",width="16",height="16")
										use(xlink:href='#icon-contacts')
								+e.tel-text +7 (499) 350-44-45
							+e.e-mail(href="#") info@iLikeService.ru
			+e.col_about.col-lg-3.col-xs-12
				+e.copyright
					p © 2017 iLikeService - Серисный центр.
					p Все права защищены. При любом копировании материалов - активная ссылка на сайт обязательна!
				+e.requisite
					p.
						Реквизиты Юр. Лица:<br>
						ИП «Сайдуллаев Э. Х.»<br>
						Юридический адрес: 110000, Россия,<br>
						Москва, ул. Пушкина, 23к<br>
						ИНН: 722711301041<br>
						ОГРН: 212374231230844










