+b.home-info
	+e.inner.container
		.row
			+e.banner.col-lg-3
				+b.article-banner
					+e.image
						img(src="./assets/img/iphone-repair-business.jpg", alt)
					+e.content
						+e.text
							|Ремонт iPhone: как нам удалось обойти официальную политику производителя
						+e.btn(href="#") Прочитать статью
			+e.news-articles.col-lg-8.col-xs-12.col-lg-offset-1
				.row
					.col-sm-6.col-xs-12
						+b.index-news
							+e.title(href="#") Полезные статьи
							+e.UL.list
								+e.item
									+e.item-inner
										+e.image(href="#")
											img(src="./assets/pics/pic-remont.png",alt)
										+e.content
											+e.date 18.09.2017
											+e.item-title(href="#") Ремонт iPhone: как нам удалось обойти официальную политику производителя
								+e.item
									+e.item-inner
										+e.image(href="#")
											img(src="./assets/pics/pic-remont-iphone-7.png",alt)
										+e.content
											+e.date 18.09.2017
											+e.item-title(href="#") Внешний аккумулятор — свобода от обстоятельств
								+e.item
									+e.item-inner
										+e.image(href="#")
											img(src="./assets/pics/pic-iphonex_front_homescreen.png",alt)
										+e.content
											+e.date 18.09.2017
											+e.item-title(href="#") Сколько будет стоит ремонт iPhone X 64 GB? Читайте ответы в нашем статье.
					.col-sm-5.col-xs-12.col-sm-offset-1
						+b.index-news
							+e.title(href="#") Новости
							+e.UL.list
								+e.item
									+e.item-inner
										+e.content
											+e.date 18.09.2017
											+e.item-title(href="#") Как нам удалось обойти официальную политику производителя
								+e.item
									+e.item-inner
										+e.content
											+e.date 18.09.2017
											+e.item-title(href="#") Внешний аккумулятор — свобода от обстоятельств
								+e.item
									+e.item-inner
										+e.content
											+e.date 18.09.2017
											+e.item-title(href="#") Качественные запчасти для телефонов — залог успешной работы
