+b.index-items
	+e.inner.container
		.row
			+e.wrapper_js
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.label(style="background-color:#f76ea2;") хит продаж
						+e.image(href="#")
							img(src="./assets/pics/pic-charger.png", alt)
						+e.title(href="#") Красный кожанный кейс для iPhone 6S Plus
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.label(style="background-color:#56d7e7;") новинка
						+e.image(href="#")
							img(src="./assets/pics/pic-wireless-charger.png", alt)
						+e.title(href="#") Беспроводной зарядчик Samsung Wireless Charge 2s
						+e.price
							+e.price-regular 2599 руб.
							+e.price-old 2899 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.image(href="#")
							img(src="./assets/pics/pic-case-1.png", alt)
						+e.title(href="#") Кожанный чехол - ПИТОНЧИК
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.image(href="#")
							img(src="./assets/pics/pic-case-2.png", alt)
						+e.title(href="#") Примиум кейс Apple Versage
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.label(style="background-color:#56d7e7;") новинка
						+e.image(href="#")
							img(src="./assets/pics/pic-case-3.png", alt)
						+e.title(href="#") Кожанный чехол Apple цвета баклажан
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.image(href="#")
							img(src="./assets/pics/pic-glass.png", alt)
						+e.title(href="#") Кожанный чехол Apple цвета баклажан
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.label(style="background-color:#56d7e7;") новинка
						+e.image(href="#")
							img(src="./assets/pics/pic-case-4.png", alt)
						+e.title(href="#") Красный кожанный кейс для iPhone 6S Plus
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.image(href="#")
							img(src="./assets/pics/pic-earpod.png", alt)
						+e.title(href="#") Оригинальные AirPods
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.image(href="#")
							img(src="./assets/pics/pic-case-5.png", alt)
						+e.title(href="#") Силиковые кейс
						+e.price
							+e.price-regular 599 руб.
				+e.item.col-lg-3.col-sm-4.col-xs-6
					+b.shop-item
						+e.label(style="background-color:#f76ea2;") хит продаж
						+e.image(href="#")
							img(src="./assets/pics/pic-earphone.png", alt)
						+e.title(href="#") Красный Beats наушники большие
						+e.price
							+e.price-regular 599 руб.
	+e.link-to-shop(href="#")
		+e.link-to-shop-icon
			svg(class="icon",width="15",height="15")
				use(xlink:href='#icon-web')
		+e.link-to-shop-text shop.iLikeService.ru