+b.indemand_device
	+e.inner
		+e.wrapper_device
			+e.col_device
				+e.item_device(href="#")
					+e.item-inner
						+e.item-img
							//- .icon
								svg(class="icon")
									use(xlink:href='#icon-screen_grey')
							img.bottom(src="./assets/img/screen-2px-1.png", alt)
							img.top(src="./assets/img/screen-2px.png", alt)
						+e.item-title Замена дисплея iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 30 минут
						+e.item-btn.btn.btn_blue выбрать модель
			+e.col_device
				+e.item_device(href="#")
					+e.item-inner
						+e.item-img
							//- svg(class="icon")
								use(xlink:href='#icon-battery_grey')
							img.bottom(src="./assets/img/battery-2px-1.png", alt)
							img.top(src="./assets/img/battery-2px.png", alt)
						+e.item-title Замена аккумулятора iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 30 минут
						+e.item-btn.btn.btn_blue выбрать модель
			+e.col_device
				+e.item_device(href="#")
					+e.item-inner
						+e.item-img
							//- svg(class="icon")
								use(xlink:href='#icon-button_grey')
							img.bottom(src="./assets/img/home-button-2px-1.png", alt)
							img.top(src="./assets/img/home-button-2px.png", alt)
						+e.item-title Замена кнопки Home iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 30 минут
						+e.item-btn.btn.btn_blue выбрать модель
			+e.col_device
				+e.item_device(href="#")
					+e.item-inner
						+e.item-img
							//- svg(class="icon")
								use(xlink:href='#icon-microphone_grey')
							img.bottom(src="./assets/img/micrphone-2px-1.png", alt)
							img.top(src="./assets/img/micrphone-2px.png", alt)
						+e.item-title Замена микрофона iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 45 минут
						+e.item-btn.btn.btn_blue выбрать модель
			+e.col_device
				+e.item_device(href="#")
					+e.item-inner
						+e.item-img
							//- svg(class="icon")
								use(xlink:href='#icon-camera_grey')
							img.bottom(src="./assets/img/camera-2px-1.png", alt)
							img.top(src="./assets/img/camera-2px.png", alt)
						+e.item-title Замена камеры iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 1 час 30 минут
						+e.item-btn.btn.btn_blue выбрать модель
			+e.col_device
				+e.item_device(href="#")
					+e.item-inner
						+e.item-img
							//- svg(class="icon")
								use(xlink:href='#icon-clean_grey')
							img.bottom(src="./assets/img/water-clean-2px-1.png", alt)
							img.top(src="./assets/img/water-clean-2px.png", alt)
						+e.item-title Чистка iPhone после попадания влаги
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 20 минут
						+e.item-btn.btn.btn_blue выбрать модель
			//- +e.col_device
				+e.item_device(href="#")
					+e.item-inner
						+e.item-img
							svg(class="icon")
								use(xlink:href='#icon-clean_grey')
						+e.item-title Чистка iPhone после попадания влаги
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 20 минут
						+e.item-btn.btn.btn_blue выбрать модель