+b.indemand_device
	+e.inner
		+e.wrapper_device
			+e.col_device
				+e.item_device
					+e.item-inner
						+e.item-img
							.icon
								svg(class="icon")
									use(xlink:href='#icon-screen_grey')
						+e.item-title(href="#") Замена дисплея iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 30 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_device
				+e.item_device
					+e.item-inner
						+e.item-img
							svg(class="icon")
								use(xlink:href='#icon-battery_grey')
						+e.item-title(href="#") Замена аккумулятора iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 30 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_device
				+e.item_device
					+e.item-inner
						+e.item-img
							svg(class="icon")
								use(xlink:href='#icon-button_grey')
						+e.item-title(href="#") Замена кнопки Home iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 30 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_device
				+e.item_device
					+e.item-inner
						+e.item-img
							svg(class="icon")
								use(xlink:href='#icon-microphone_grey')
						+e.item-title(href="#") Замена микрофона iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 45 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_device
				+e.item_device
					+e.item-inner
						+e.item-img
							svg(class="icon")
								use(xlink:href='#icon-camera_grey')
						+e.item-title(href="#") Замена камеры iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 1 час 30 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_device
				+e.item_device
					+e.item-inner
						+e.item-img
							svg(class="icon")
								use(xlink:href='#icon-clean_grey')
						+e.item-title(href="#") Чистка iPhone после попадания влаги
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 20 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель