+b.indemand
	+e.inner
		+e.wrapper
			+e.col_index-main
				+e.item_index-main
					+e.item-index-main-left
						+e.item-inner_index-main
							+e.item-img_index-main
							+e.item-text-wrapper
								+e.item-title_index-main(href="#") Замена дисплея iPhone
								+e.item-time
									+e.item-time-icon
										svg(class="icon",width="13",height="13")
											use(xlink:href='#icon-time')
									+e.item-time-text 30 минут
					+e.item-index-main-right
						+e.UL.models-list
							+e.models-item: +e.models-link(href="#") iPhone X
							+e.models-item: +e.models-link(href="#") iPhone 8
							+e.models-item: +e.models-link(href="#") iPhone 7 Plus
							+e.models-item: +e.models-link(href="#") iPhone 7
							+e.models-item: +e.models-link(href="#") iPhone SE
							+e.models-item: +e.models-link(href="#") iPhone 6S Plus
							+e.models-item: +e.models-link(href="#") iPhone 6S
							+e.models-item: +e.models-link(href="#") iPhone 6
							+e.models-item: +e.models-link(href="#") iPhone 5S
							+e.models-item: +e.models-link(href="#") iPhone 5
							+e.models-item: +e.models-link(href="#") iPhone 4S
							+e.models-item: +e.models-link(href="#") iPhone 4
			+e.col_index
				+e.item_index-battery
					+e.item-inner
						+e.item-img_index-battery
						+e.item-title(href="#") Замена аккумулятора iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 20 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_index
				+e.item_index-home-button
					+e.item-inner
						+e.item-img_index-home-button
						+e.item-title(href="#") Замена кнопки Home iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 30 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_index
				+e.item_index-microphone
					+e.item-inner
						+e.item-img_index-microphone
						+e.item-title(href="#") Замена микрофона iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 45 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель
			+e.col_index
				+e.item_index-camera
					+e.item-inner
						+e.item-img_index-camera
						+e.item-title(href="#") Замена камеры iPhone
						+e.item-time
							+e.item-time-icon
								svg(class="icon",width="13",height="13")
									use(xlink:href='#icon-time')
							+e.item-time-text 1 час 30 минут
						+e.item-btn.btn.btn_blue(href="#") выбрать модель