+b.select
	+e.inner
		+e.UL.list
			+e.item-col
				+e.item
					+e.item-img
						img(src="./assets/img/img-iphone.svg")
					+e.item-content
						+e.item-title(href="#") iPhone
						+e.UL.device-list
							+e.device-item: +e.device-link(href="#") iPhone 7 Plus
							+e.device-item: +e.device-link(href="#") iPhone 7
							+e.device-item: +e.device-link(href="#") iPhone SE
							+e.device-item: +e.device-link(href="#") iPhone 6S Plus
							+e.device-item: +e.device-link(href="#") iPhone 6S
							+e.device-item: +e.device-link(href="#") iPhone 6 Plus
							+e.device-item: +e.device-link(href="#") iPhone 6
							+e.device-item: +e.device-link(href="#") iPhone 5S
							+e.device-item: +e.device-link(href="#") iPhone 5C
							+e.device-item: +e.device-link(href="#") iPhone 5
							+e.device-item: +e.device-link(href="#") iPhone 4S
							+e.device-item: +e.device-link(href="#") iPhone 4
					+e.mobile-link
			+e.item-col
				+e.item
					+e.item-img
						img(src="./assets/img/img-ipad.svg")
					+e.item-content
						+e.item-title(href="#") iPad
						+e.UL.device-list
							+e.device-item: +e.device-link(href="#") iPad 1
							+e.device-item: +e.device-link(href="#") iPad 2
							+e.device-item: +e.device-link(href="#") iPad 3
							+e.device-item: +e.device-link(href="#") iPad 4
							+e.device-item: +e.device-link(href="#") iPad Mini
							+e.device-item: +e.device-link(href="#") iPad Retina
							+e.device-item: +e.device-link(href="#") iPadMini 3
							+e.device-item: +e.device-link(href="#") iPad Air
							+e.device-item: +e.device-link(href="#") iPadAir 2
							+e.device-item: +e.device-link(href="#") iPadMini 4
							+e.device-item: +e.device-link(href="#") iPad Pro
					+e.mobile-link
			+e.item-col
				+e.item
					+e.item-img
						img(src="./assets/img/img-macbook.svg")
					+e.item-content
						+e.item-title(href="#") Macbook
						+e.UL.device-list
							+e.device-item: +e.device-link(href="#") Macbook Air 11’’
							+e.device-item: +e.device-link(href="#") Macbook Air 13’’
							+e.device-item: +e.device-link(href="#") Macbook Pro 13’’
							+e.device-item: +e.device-link(href="#") Macbook Pro 15’’
							+e.device-item: +e.device-link(href="#") Macbook Pro 17’’
							+e.device-item: +e.device-link(href="#") Macbook
					+e.mobile-link
			+e.item-col
				+e.item
					+e.item-img
						img(src="./assets/img/img-iwatch.svg")
					+e.item-content
						+e.item-title(href="#") Watch
						+e.UL.device-list
							+e.device-item: +e.device-link(href="#") 1-series
							+e.device-item: +e.device-link(href="#") 2-series
							+e.device-item: +e.device-link(href="#") 3-series
					+e.mobile-link
			+e.item-col
				+e.item
					+e.item-img
						img(src="./assets/img/img-ipod.svg")
					+e.item-content
						+e.item-title(href="#") iPod
						+e.UL.device-list
							+e.device-item: +e.device-link(href="#") iPod Touch 5G
							+e.device-item: +e.device-link(href="#") iPod Touch 4G
							+e.device-item: +e.device-link(href="#") iPod Touch 3G, 2G, 1G
							+e.device-item: +e.device-link(href="#") iPod Nano 7G
							+e.device-item: +e.device-link(href="#") iPod Nano 6G
							+e.device-item: +e.device-link(href="#") iPod Classic
					+e.mobile-link
			+e.item-col
				+e.item
					+e.item-img
						img(src="./assets/img/img-samsung.svg")
					+e.item-content
						+e.item-title(href="#") Samsung, Meizu, Xiaomi и др. 
						+e.UL.device-list
							+e.device-item: +e.device-link(href="#") Samsung
							+e.device-item: +e.device-link(href="#") Meizu
							+e.device-item: +e.device-link(href="#") Xiaomi
							+e.device-item: +e.device-link(href="#") HTC
							+e.device-item: +e.device-link(href="#") Asus
							+e.device-item: +e.device-link(href="#") Lenovo
							+e.device-item: +e.device-link(href="#") Acer
							+e.device-item: +e.device-link(href="#") Huawei
							+e.device-item: +e.device-link(href="#") LG
					+e.mobile-link

