+b.support
	+e.inner
		+e.block-wrapper
			+e.H2.free-title Бесплатная консультация по <br>телефону
			+e.muted-text Напишите свой телефон номер, мы вам перезвоним
			+e.call-form
				form
					+e.input-wrapper
						+e.tel-prefix +7
						+e.INPUT.input(type="tel")
					+e.BUTTON.btn-cons.btn_blue Заказать консультацию
			+e.muted-text или, позвоните нам
			+e.tel(href="tel:+79680981234") +7 (499) 350-44-45
			+e.muted-text Пн-Пт с 10.00 до 20.00
			+e.muted-text Выходные с 11.00 до 20.00
		+e.block-wrapper
			+e.H2.title-upper_courier Вызов курьера
			+e.text
				|Наш курьер бесплатно заберет ваше устройство в ремонт, а после завершения ремонта может привезти обратно всего за 300 рублей.
			+e.btn-appl.btn_blue-bd(href="#") Оставить заявку
		+e.block-wrapper
			+e.H2.title-upper_diagnosis Диагностика бесплатно
			+e.text
				|даже при отказе от ремонта