+b.video
	+e.inner.container
		.row
			.col-lg-3.col-xs-12
				+e.info
					+e.H2.info-title Ремонт Apple только у профессионалов.
					+e.info-text
						|Все — от специалистов по приему и технической поддержке до инженеров и директора — эксперты. Мы пользуемся техникой Apple, изучаем ее, разрабатываем новые, уникальные, самые безопасные и надежные способы ремонта, восстанавливаем оригинальные устройства на компонентном уровне — без замены блоков.
			.col-lg-9.col-xs-12
				.row
					+e.video-col_player.col-sm-8.col-xs-12
						+e.video-col-inner
							+e.video-wrapper
								+e.player_js
									+e.player-item
										+e.player-item-inner
											<div class="youtube-player" data-id="2tAaNOjTeqE" data-related="1" data-control="1" data-info="1" data-fullscreen="1" style="width:100%;display: block; position: relative;cursor: pointer;max-height:360px;height:100%; overflow:hidden;padding-bottom:56.25%;margin:0 auto"> <img src="//i.ytimg.com/vi/2tAaNOjTeqE/hqdefault.jpg" style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;"> <div style="height: 47px; width: 67px; left: 50%; top: 50%; margin-left: -33px; margin-top: -23px; position: absolute; background: url('./assets/img/icon-youtube.png') no-repeat;"></div> </div>
									+e.player-item
										+e.player-item-inner
											<div class="youtube-player" data-id="p-YrISlOOHo" data-related="1" data-control="1" data-info="1" data-fullscreen="1" style="width:100%;display: block; position: relative;cursor: pointer;max-height:360px;height:100%; overflow:hidden;padding-bottom:56.25%;margin:0 auto"> <img src="//i.ytimg.com/vi/2tAaNOjTeqE/hqdefault.jpg" style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;"> <div style="height: 47px; width: 67px; left: 50%; top: 50%; margin-left: -33px; margin-top: -23px; position: absolute; background: url('./assets/img/icon-youtube.png') no-repeat;"></div> </div>
									+e.player-item
										+e.player-item-inner
											<div class="youtube-player" data-id="2tAaNOjTeqE" data-related="1" data-control="1" data-info="1" data-fullscreen="1" style="width:100%;display: block; position: relative;cursor: pointer;max-height:360px;height:100%; overflow:hidden;padding-bottom:56.25%;margin:0 auto"> <img src="//i.ytimg.com/vi/2tAaNOjTeqE/hqdefault.jpg" style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;"> <div style="height: 47px; width: 67px; left: 50%; top: 50%; margin-left: -33px; margin-top: -23px; position: absolute; background: url('./assets/img/icon-youtube.png') no-repeat;"></div> </div>
									+e.player-item
										+e.player-item-inner
											<div class="youtube-player" data-id="2tAaNOjTeqE" data-related="1" data-control="1" data-info="1" data-fullscreen="1" style="width:100%;display: block; position: relative;cursor: pointer;max-height:360px;height:100%; overflow:hidden;padding-bottom:56.25%;margin:0 auto"> <img src="//i.ytimg.com/vi/2tAaNOjTeqE/hqdefault.jpg" style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;"> <div style="height: 47px; width: 67px; left: 50%; top: 50%; margin-left: -33px; margin-top: -23px; position: absolute; background: url('./assets/img/icon-youtube.png') no-repeat;"></div> </div>
									+e.player-item
										+e.player-item-inner
											<div class="youtube-player" data-id="2tAaNOjTeqE" data-related="1" data-control="1" data-info="1" data-fullscreen="1" style="width:100%;display: block; position: relative;cursor: pointer;max-height:360px;height:100%; overflow:hidden;padding-bottom:56.25%;margin:0 auto"> <img src="//i.ytimg.com/vi/2tAaNOjTeqE/hqdefault.jpg" style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;"> <div style="height: 47px; width: 67px; left: 50%; top: 50%; margin-left: -33px; margin-top: -23px; position: absolute; background: url('./assets/img/icon-youtube.png') no-repeat;"></div> </div>
					+e.video-col.col-sm-4.col-xs-12
						+e.playlist-wrapper
							+e.UL.playlist-list_js
								+e.playlist-item
									+b.thumbnail
										+e.image
											img(src="./assets/pics/video-thumb-1.jpg", alt)
										+e.title Процес замены стекла дисплея iPhone
								+e.playlist-item
									+b.thumbnail
										+e.image
											img(src="./assets/pics/video-thumb-2.jpg", alt)
										+e.title Процес замены Home кнопку iPhone
								+e.playlist-item
									+b.thumbnail
										+e.image
											img(src="./assets/pics/video-thumb-3.jpg", alt)
										+e.title Процес замены кнопки питание на iPhone
								+e.playlist-item
									+b.thumbnail
										+e.image
											img(src="./assets/pics/video-thumb-4.jpg", alt)
										+e.title Процес замены аккумулятора
								+e.playlist-item
									+b.thumbnail
										+e.image
											img(src="./assets/pics/video-thumb-5.jpg", alt)
										+e.title Процес замены аккумулятора на большой емкость
								+e.playlist-item_mobile-link
							+e.btn.btn_grey-thick-bd(href="#") Показать больше видео

