//
// Scaffolding
// --------------------------------------------------

//Adjustment vars

// $footer-height: 390px;
// $mobile-footer-height: 600px;
// $tablet-footer-height: 518px;

$body-bg: #fff;
$footer-height: 321px;
$mobile-footer-height: 500px;
$tablet-footer-height: 447px;

// Reset the box-sizing
// 
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing

* {
	box-sizing:border-box;
}

*:before,
*:after {
	box-sizing:border-box;
}

// Body reset
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	font-size: 62.5%;
	height: 100%;
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-family: $ff-regular;
	font-size: $font-size-base;
	font-weight: 400;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	color: $text-color;
	background-color: $body-bg;
	min-width: 320px;
	overflow-x: hidden;
	max-width: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
	width: 100%;
}

footer.page-footer {
	width: 100%;
	position: relative;
}

.wrapper:after {
	content: "";
	display: block;
	//min-height: $footer-height;
	overflow: hidden;
}



@media #{$mobileonly} {
	.wrapper::after {
		min-height: $mobile-footer-height;
	}

	footer.footer {
		min-height: $mobile-footer-height;
		margin-top: -$mobile-footer-height;
	}
}

@media #{$mobtabonly} {

}//@media (max-width: 1023px) 


/* --Only Tablet Styles !!! 768 < || 1023-- */
@media #{$tabonly} {
	.wrapper::after {
		min-height: $tablet-footer-height;
	}

	footer.footer {
		height: $tablet-footer-height;
		margin-top: -$tablet-footer-height;
	}
}


/* --Tablet Media queries-- */
@media (min-width: 768px) {
	
} //(min-width: 768px)


/* --Desktop Media queries-- */
@media #{$deskonly} {
	.wrapper::after {
		min-height: $footer-height;
	}

	footer.footer {
		min-height: $footer-height;
		margin-top: -$footer-height;
	}
}


.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


img {
	//max-width: 100%;
	//max-height: 100%;
	//display: block;
}

i {
	font-style: normal;
}


// Links

a {
	font-family: $ff-regular;
	color: $link-color;
	text-decoration: none;
	transition: all .3s ease;

	&:hover,
	&:focus {
		//color: @link-hover-color;
		//text-decoration: @link-hover-decoration;
	}

	&:focus {
		//.tab-focus();
	}
}

a[href]:not([class]) {
  // color: #008000;
  // text-decoration: underline;
  color: $blue;

  &:hover {
  	color: $dark;
  }
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
	margin: 0;
}

button {
	bottom: 0;
	border: none;
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

// .wow { visibility: hidden; }

