/*Catalog Styles Start*/
.catalog {
	&__filter {
		&.active {
			.catalog__filter-selected-icon {
				transform: rotate(180deg);
			}
		}
	}

	&__filter-title,
	&__filter-select,
	&__filter-selected-text,
	&__filter-selected-icon  {
		display: inline-block;
		vertical-align: middle;
	}

	&__filter-title {
		color: $grey;
		line-height: 1;
	}

	&__filter-select {
		margin-left: 10px;
		
		line-height: 1;
		position: relative;
	}

	&__filter-selected-text {
		line-height: 1;
		cursor: pointer;
	}

	&__filter-selected-icon {
		position: relative;
		width: 7px;
		height: 4px;
		margin-left: 5px;
		transition: all .3s;
		.icon {
			@include img;
		}
	}

	&__sublist {
		position: absolute;
		z-index: 2;
		border-radius: 8px;
		border: 1px solid $silver;
		padding-left: 30px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #fff;
		width: 210px;
		right: 0;
		top: 30px;
		
		transition: all .5s;
		opacity: 0;
		pointer-events: none;
		transform: translateY(2rem);

		&.active {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0);
		}

		&::before,
		&::after {
			bottom: 100%;
			left: 88%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&::before {
			border-color: rgba(223, 225, 234, 0);
				border-bottom-color: #dfe1ea;
				border-width: 11px;
				margin-left: -11px;
		}

		&::after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 10px;
			margin-left: -10px;
		}
	}

	&__subitem {
		
		color: $grey;
		
		white-space: nowrap;
		text-align: left;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&:not(.active) {
			cursor: pointer;
		}

		&:hover {
			color: $blue;
		}

		&.active {
			color: $dark;
		}
	}

	&__items-list_catalog-page {
		position: relative;
		// z-index: 1;
		z-index: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
	}

	&__menu {
		// height: 100%;
		// display: flex;
	}

	&__menu-inner {
		height: 100%;
	}

	&__menu-item {
		&.active {
			.catalog__submenu-list {
				display: block;
			}
		}
	}

	&__menu-link {
		color: #fff;

		&:hover {
			color: rgba(#fff, .8);
		}
	}

	&__item_menu {
		background-color: $blue;
		border-radius: 8px;
	}

	&__submenu-list {
		display: none;
	}

	&__submenu-item {

		&:first-child {
			margin-top: 10px;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		
	}

	&__submenu-link {
		font-size: 1.4rem;
		color: rgba(#fff, .8);

		&:hover {
			color: #fff;
		}
	}


	&__items-list {
		font-size: 0;	
	}

	&__seo-text {
		color: $grey;
	}




}
//========================================================
// %mobile
@media #{$mobileonly} {

	.catalog {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 75px;


		

		&__title {
			margin-bottom: 15px;
		}

		&__header_catalog-page {
			margin-bottom: 20px;
		}

		&__filter {
			text-align: center;
		}

		&__items-list_catalog-page {
			margin-bottom: 18px;
		}

		&__item {
			margin-bottom: 16px;
			
			&:not(.catalog__item_menu) {
				width: 50%;
			}

			&:nth-child(even) {
				padding-right: 10px;
			}

			&:nth-child(odd) {
				padding-left: 10px;
			}
		}

		&__item_menu {
			width: 100%;

			&.catalog__item_catalog-page {
				display: none;
			}
		}

		&__menu {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
		}

		&__menu-item {
			margin-bottom: 10px;
		}

		&__menu-link {
			font-size: 1.4rem;
		}
	}

	.cat-mmenu {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 16px;

		&__inner {
			width: 100%;
			border-radius: 8px;
			overflow: hidden;
		}

		&__button {
			display: block;
			border-radius: 8px;
			border: 2px solid $blue;
			color: $blue;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;

			transition: all .3s;
		}

		&__icon,
		&__text {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;

			transition: all .3s;
		}

		&__icon {
			position: relative;
			width: 16px;
			height: 12px;
			.icon {
				@include img;
			}
		}

		&__text {
			margin-left: 10px;
			// font-weight: 700;
		}

		&__nav {
			transition: all .3s;text-align: center;
			
			font-weight: 700;

			display: none;

			.catalog__menu-list {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}

		&.active {
			.cat-mmenu__button {
				background-color: $blue;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
			}

			.cat-mmenu__icon,
			.cat-mmenu__text {
				color: #fff;
			}

			.cat-mmenu__nav {
				background-color: $blue;
				border-top: 1px solid rgba(#fff, .2);
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}

			.catalog__menu-item {

			}

			.catalog__menu-link {
				font-size: 1.6rem;
			}

			.catalog__submenu-link {
				font-size: 1.4rem;
				color: rgba(#fff, .8);

				&:hover {
					color: rgba(#fff, 1);
				}
			}

			// .catalog__submenu-list {
			// 	display: none;
			// }
		}
	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.catalog {

	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.catalog {
		margin-bottom: 70px;

		&__inner {
			@include container-tab;
		}

		&__title_shop-page {
			margin-bottom: 30px;
		}

		&__item {
			width: 226px;
		}
	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.cat-mmenu {
		display: none;
	}
	.catalog {

		&__header_catalog-page {
			display: flex;
			justify-content: space-between;
			// align-items: flex-end;
			align-items: center;
			margin-bottom: 30px;
		}

		&__title {
			line-height: 1.33;
		}

		&__title_shop-page {
			margin-bottom: 40px;
		}

		&__items-list {
			margin-right: -30px;
		}
		
		&__item {
			margin-bottom: 30px;
			margin-right: 30px;
		}

		&__item_menu {
			position: relative;
			display: inline-flex;
			align-items: center;
			padding: 30px;

		}

		&__menu {
			// position: absolute;
			// top: 0;bottom: 0;left: 0;right: 0;
			// display: flex;
			// flex-direction: column;
			// height: 100%;
		}

		&__menu-inner {
			display: flex;
			align-items: center;
			// padding: 30px;
		}

		&__menu-link {
			font-size: 1.6rem;
		}

		&__item_menu {
			// min-height: 364px;
			// padding: 30px;
		}

		&__menu-item {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		&__submenu-list {
			margin-left: 20px;
		}


	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.catalog {
		margin-bottom: 90px;

		&__inner {
			@include container;
		}

		&__items-list {
			margin-right: -30px;
			font-size: 0;
		}

		&__item {
			width: 270px;
			
		}

		&__item_menu {

		}

		// .shop-item {
		// 	min-height: 364px;
		// }
	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"