/* Styles Start*/
.about {
	&__inner {
		
	}

	&__title {
		font-weight: 700;
		font-size: 2rem;
	}

	&__content {
		
		p {
			color: $grey;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
//========================================================
// %mobile
@media #{$mobileonly} {
	.about {
		&__title {
			margin-bottom: 10px;
			text-align: center;
		}

		&__logo-circle,
		&__bg-circle {
			display: none;
		}
	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.about {
		
	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.about {
		
		&__inner {
			padding-top: 83px;
			padding-bottom: 73px;
		}

		&__title {
			margin-bottom: 20px;

		}

		&__logo-circle {
			display: none;
		}

		&__content {
			margin-left: 26px;
		}
	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.about {
		&__inner {
			position: relative;

		}
		&__col {
			padding-left: 0;
			padding-right: 0;
		}

		&__content {
			position: relative;
			// padding-top: 20px;
			// padding-bottom: 10px;
			margin-left: 26px;
			// background-color: #fff;
			z-index: 2;

			p {
				line-height: 1.4;
				// background-color: #fff;
			}

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 105%;
				left: 0;
				top: -5%;
				background-color: #fff;
				z-index: -1;
			}
		}

		&__bg-circle {
			width: 416px;
			height: 416px;
			background-color: #fff;
			border: 7px solid rgba(#D2D4DF, .34);
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.about {
		&__inner {
			padding-top: 92px;
			padding-bottom: 93px;
		}

		&__title {
			margin-bottom: 30px;
		}

		&__bg-circle {
			left: 130px;
		}

		&__logo-circle {
			position: absolute;
			z-index: 3;

			width: 270px;
			height: 270px;
			top: 50%;
			left: 0;
			margin-top: -135px;
		}

		&__logo-circle-shadows {
			position: absolute;
			z-index: 1;
			width: 270px;
			height: 270px;
			top: 0;
			left: 0;
			// background-color: #ffffff;
			box-shadow: -13px 22px 40px 0 rgba(151, 172, 189, 0.5);
			border-radius: 50%;
			transition: all .3s;
			background-color: transparent;
			&.to-left {
				box-shadow: -23px 22px 40px 0 rgba(151, 172, 189, 0.5);
			}

			&.to-right {
				box-shadow: 13px 22px 40px 0 rgba(151, 172, 189, 0.5);
			}

			&.to-up {
				box-shadow: -13px -12px 40px 0 rgba(151, 172, 189, 0.5);
			}

			&.to-down {
				box-shadow: -13px 22px 40px 0 rgba(151, 172, 189, 0.5);
			}
		}

		&__logo-circle-image {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-image: radial-gradient(circle at 34% 38%, #ffffff, #eff0f3);
			border: 10px solid #fff;

			img {
				@include img-center;
			}
		}

		&__content {
			padding: 20px;

			&::before {
				height: 100%;
				top: 0%;
			}
		}
	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"