/* Styles Start*/
.form {
	
	position: relative;

	&__main {
		background-color: #fff;
		border-radius: 8px;
	}

	&__title {
		font-weight: 700;
		text-align: center;
	}

	&__f-writer {
		
	}

	&__main {
		position: relative;
		z-index: 1;
	}

	&__f-writer-body {
		border-bottom: 1px solid #DFE1EA;
		transition: all .3s;
	}
	
	&.is-sent {
		.form__main {
			opacity: 0;
		}

		.form__success {
			z-index: 2;
		}
	}

	&__ord-icon {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		
		img {
			@include img-center;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__success {
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		border-radius: 8px;
		text-align: center;	
	}

	&__success_f {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__icon-success {
		width: 41px;
		height: 41px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		
		img {
			@include img-center;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__success-thanks {
		font-weight: 700;
	}

	&__success-mod {
		font-size: 1.8rem;
	}

	&__success-btn {
		padding-left: 40px;
		padding-right: 40px;
	}

	&__ord-info {

	}

	&__ord-info-text {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__ord-worktime-title {
		font-weight: 700;
	}

	&__ord-worktime-title,
	&__ord-worktime-text {
		

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	.mfp-close {
		display: none;
	}

	&__close-btn {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 5px;
		right: 5px;
		cursor: pointer;
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 15px;
			height: 1px;
			left: 50%;top: 50%;
			background-color: $silver;
			margin-left: -8px;
			transition: all .3s;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&:hover {
			&::before,
			&::after {
				background-color: $blue;
			}
		}
	}//&__close-btn

	&__again-btn,
	&__success-btn_ord {
		width: 100%;
	}
}

.mfp-close-btn-in .mfp-close {
	color: $silver!important;
	transition: all .3s;
	&:hover {
		color: $blue !important;
	}

}



.f-writer-footer {

	&__icon {
		width: 36px;
		height: 28px;
		position: relative;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__text {
		color: $grey;
		a[href]:not([class]) {
			color: $grey;
		}
	}
}


//========================================================
// %mobile
@media #{$mobileonly} {
	.form {
		&__title {
			font-size: 2rem;
			margin-bottom: 20px;
		}

		&__f-writer-body {
			padding: 10px 20px 20px 20px;
		}

		&__f-writer-footer {
			padding: 20px;
			
		}

		&__success {
			width: 100%;
		}

		&__ord-icon {
			width: 30px;
			height: 30px;
			margin-bottom: 20px;
		}

		&__icon-success,
		&__success-mod {
			margin-bottom: 37px;
		}

		&__success-thanks {
			font-size: 2.3rem;
			margin-bottom: 10px;
		}

		&__success-btn {
			padding-top: 8px;
			padding-bottom: 8px;
		}

		&__main_order-writer {
			padding: 10px 20px 20px 20px;
		}

		&__success_ord {
			padding: 20px;
		}

		&__ord-info,
		&__ord-worktime {
			margin-bottom: 16px;
		}

		&__again-btn {
			padding-top: 11px;
			padding-bottom: 11px;
			margin-bottom: 10px;
		}
	}//.form

	.f-writer-footer {
		&__icon {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
		}

		&__text {
			font-size: 1.3rem;
			// color: $grey;
			
		}
	}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {
	.form {

	}
}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.form {

	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.form {
		margin-left: auto;
		margin-right: auto;

		&_ord {
			width: 470px;
		}

		&_f-form {
			width: 714px;
			
		}

		&__f-writer-body,
		&__main_order-writer {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&__title_f {
			font-size: 2.5rem;
			margin-bottom: 30px;
		}

		&__title_ord,
		&__ord-icon {
			font-size: 2rem;
			margin-bottom: 20px;
		}

		&__f-writer-footer {
			padding: 30px 60px;
		}

		&__ord-icon {
			width: 51px;
			height: 51px;
		}

		&__success_f {
			width: 714px;
		}

		&__success {
			
		}

		&__icon-success {
			margin-bottom: 20px;
		}

		&__success-thanks {
			margin-bottom: 20px;
			font-size: 3rem;
		}

		&__success-mod {
			margin-bottom: 50px;
		}

		&__success-btn {
			padding-top: 13px;
			padding-bottom: 13px;
		}

		&__main-inner,
		&__succes-inner {
			width: 300px;
			margin-left: auto;
			margin-right: auto;
		}

		&__success_ord {
			width: 100%;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&__ord-info,
		&__ord-worktime {
			margin-bottom: 30px;
		}

		&__again-btn {
			padding-top: 16px;
			padding-bottom: 16px;
			margin-bottom: 20px;
		}
	}

	.f-writer-footer {
		display: flex;
		align-items: center;

		&__icon {
			margin-right: 20px;
			flex-shrink: 0;
		}

		&__text {
			a[href]:not([class]) {
				font-weight: 700;

				&:hover {
					color: $blue;
				}
			}
		}
	}
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.form {

	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"