/* Button style */
.btn {
	text-align: center;
	transition: all .3s;
	border-radius: 100px;
	&:active {
		transform: translateY(1px);
	}
}

.btn[disabled=disabled],
.btn:disabled {
	pointer-events: none;
}

/* Blue button */
.btn_blue {
	background-color: $blue;
	color: #fff;
	font-weight: 700;

	&:hover {
		background-color: $blue-hover;
	}

	
}

.btn_blue[disabled=disabled],
.btn_blue:disabled {
	background-color: #DFE1EA;
	color: #A0A2AF;
}

/* Grey thin border */

.btn_grey-thin-bd {
	border: 1px solid $silver;
	color: $grey;
	font-weight: 400;

	&:hover {
		border-color: $blue;
		color: $blue;
	}
}

.btn_grey-thin-bd[disabled=disabled],
.btn_grey-thin-bd:disabled {
	font-weight: 700;
	border-color: $silver;
}

/* Grey thick border */

.btn_grey-thick-bd {
	border: 3px solid $silver;
	color: $grey;
	font-weight: 700;

	&:hover {
		border-color: $blue;
		color: $blue;
	}
}

.btn_grey-thick-bd[disabled=disabled],
.btn_grey-thick-bd:disabled {
	font-weight: 700;
	border-color: $silver;
}

.btn_yellow {
	background-color: $yellow;
	color: #000;
	font-weight: 700;

	&:hover {
		background-color: lighten($yellow, 15%);
	}
}

/* Blue border button */

.btn_blue-bd {
	border: 2px solid $blue;
	color: $blue;
	font-weight: 700;

	&:hover {
		border-color: $blue-hover;
		color:$blue-hover;
	}
}

.btn_blue-bd[disabled=disabled],
.btn_blue-bd:disabled {
	font-weight: 700;
	border-color: $silver;
	color: #CBCFD4;
}

.btn-new {
	display: inline-block;
	border-radius: 10rem;
	padding: 1.8rem 3rem;
	font-size: 1.4rem;
	font-weight: bold;
	white-space: nowrap;
	color: #000000;
	line-height: 1;
	transition: all .3s;
	text-align: center;
	
}

.btn {
	position: relative;
	&.is-sending {
		&::before {
			content: '';
			width: 25px;
			height: 25px;
			@include img-center;
			border-radius: 50%;
			border: 2px solid #fff;
			z-index: 2;
			border-top-color: rgba(#fff, .5);
			animation: spin 1s infinite linear;
		}

		& > div {
			opacity: 0;
		}
	}
}
