/* Styles Start*/
.icon {
	transition: all .3s ease;

	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
//========================================================
// %mobile
@media #{$mobileonly} {

}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {

}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {

}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {

} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"