extends ../tpl/_template-blog

block variables
	- var title = 'Article Inside'

block content
	+b.breadcrumbs
		+e.inner 
			+e.UL.list
				+e.item: +e.link(href="#") Главная
				+e.item: +e.link(href="#") Статьи
	+b.ARTILCE.bl-inside
		+e.inner
			+e.wrapper
				+e.content
					//- +e.H3.title Самостоятельное устранение поломки
					+e.H1 Самостоятельное устранение поломки
					+e.H2 Самостоятельное устранение поломки
					+e.H3 Самостоятельное устранение поломки
					+e.H4 Самостоятельное устранение поломки
					+e.H5 Самостоятельное устранение поломки
					+e.H6 Самостоятельное устранение поломки
					+e.date 12 сентября 2017
					//- +e.image
						img(src="./assets/pics/pic-blog.png", alt)
					p
						img(src="./assets/pics/pic-blog.png", alt)
					+e.H4 Если у вас не работает сенсор на iPhone, виной этому  могут стать разнообразные факторы:
					p
						|Описанные выше действия дадут вам возможность проверить, действительно ли произошла поломка или имеет место лишь небольшой «глюк» устройства.
					p
						|В том случае, если неисправности в работе сенсора вызваны именно его падением или попаданием внутрь воды, безотлагательно звоните в сервис выездного ремонта «Ай, Молодец».
					p
						|Наши специалисты обладают огромным опытом решения разнообразных проблем с «яблочной» техникой. Они приедут менее чем через час с момента звонка, скажут, почему сенсор на айфоне резко перестал работать, и выполнят качественный ремонт, используя оригинальные комплектующие. <a href="#">А доступная стоимость услуги приятно удивит любого нашего клиента.</a>
					p: strong
						|1. При периодическом проявлении неисправности в работе тачскрина или сенсора (когда в целом сенсор отзывает, но его работа происходит с ошибками). Необходимо сделать полную перезагрузку устройства:
					p
						|- Одновременно зажмите кнопку включения и кнопку «Домой»;
					p
						|- Необходимо удерживать кнопку в течение 15 секунд, после чего произойдет перезагрузка iPhone.
					p
						|- Если на экране появится знак логотипа, то вы сделали все правильно.
					p: strong
						|2. Ситуация для тех, у кого на экран наклеена пленка или защитное стекло или бампер, который частично прикрывает экран. Снимите все, что может мешать работоспособности сенсора, возможно этот простой жест сможет помочь.
					+e.H4 Вы можете оценить нашу работу посмотрев видео замены дисплея
					p
						<iframe src="https://www.youtube.com/embed/_X-l-Xv7dLk?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
					SECTION.depart-b-section.depart-b-section_blog-inside
						include ../blocks/depart-b_blog
				+e.sidebar
					include ../blocks/support
	//- SECTION.depart-b-section_blog-inside
		include ../blocks/depart-b_blog
