extends ../tpl/_template_info-page

block variables
	- var title = 'Info-page'

block content
	+b.info-p
		+e.inner
			+e.col_menu
				+e.menu
					+e.UL.menu-list
						+e.menu-item: +e.menu-link(href="#") О нас
						+e.menu-item: +e.menu-link(href="#") Гарантия
						+e.menu-item: +e.menu-link(href="#") Блог
						+e.menu-item: +e.menu-link(href="#") Статьи
						+e.menu-item.active: +e.menu-link(href="#") Контакт
						+e.menu-item: +e.menu-link(href="#") Отзывы
			+e.col_content
				+e.col-inner
					+e.H2.title Контакты
					+e.addresses
						+e.address-i
							+e.address-i-row
								+e.col-content
									+e.address-num
										+e.address-num-icon
											svg(class="icon",width="14",height="20")
												use(xlink:href='#icon-place')
										+e.address-num-text Адрес-1
									+e.address-text Улица Русаковская, дом 22, метро Сокольники
									+e.address-descr
										|Мы находимся на ПЕРВОМ этаже, на линии «Б», в павильоне 1Б-39 (как ориентир, рядом с нами находятся магазины «Рыболов» и «Леонардо»).
									+e.gallery-link(href="#")
										+e.gallery-icon
											svg(class="icon",width="16",height="13")
												use(xlink:href='#icon-photo')
										+e.gallery-text Фото офиса
										+e.gallery-icon_close
											svg(class="icon",width="9",height="9")
												use(xlink:href='#icon-close')
								+e.col-map
									+e.address-map#ilsMap1(style="height: 160px;")
								+e.gallery
									+e.gallery-wrapper
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-1.png")
												img(src="./assets/pics/thumb-address-1.jpg")
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-2.png")
												img(src="./assets/pics/thumb-address-2.jpg")
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-3.png")
												img(src="./assets/pics/thumb-address-3.jpg")
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-3.png")
												img(src="./assets/pics/thumb-address-4.jpg")
								//- +e.contacts
									+e.contacts-inner
										+e.contacts-item_tel
											+e.contacts-title
												+e.contacts-title-icon_tel
													svg(class="icon",width="18",height="18")
														use(xlink:href='#icon-phone')
												+e.contacts-title-text Телефон
											+e.contacts-tel(href="+79871234567") +7 (499) 350-44-45
										+e.contacts-item_mail
											+e.contacts-title
												+e.contacts-title-icon_mail
													svg(class="icon",width="20",height="16")
														use(xlink:href='#icon-mail-outline')
												+e.contacts-title-text Почтовый адрес
											+e.contacts-mail(href="mailto:info@ilikeservice.ru") info@ilikeservice.ru
										+e.contacts-item_schedule
											+e.contacts-title
												+e.contacts-title-icon_schedule
													svg(class="icon",width="20",height="20")
														use(xlink:href='#icon-access-time')
												+e.contacts-title-text Режим работы:
											+e.contacts-schedule
												span Понедельник - Пятница с 10.00 до 20.00
												span Выходные с 11.00 до 20.00
						+e.address-i
							+e.address-i-row
								+e.col-content
									+e.address-num
										+e.address-num-icon
											svg(class="icon",width="14",height="20")
												use(xlink:href='#icon-place')
										+e.address-num-text Адрес-2
									+e.address-text Улица Русаковская, дом 22, метро Сокольники
									+e.address-descr
										|Мы находимся на ПЕРВОМ этаже, на линии «Б», в павильоне 1Б-39 (как ориентир, рядом с нами находятся магазины «Рыболов» и «Леонардо»).
									+e.gallery-link(href="#")
										+e.gallery-icon
											svg(class="icon",width="16",height="13")
												use(xlink:href='#icon-photo')
										+e.gallery-text Фото офиса
										+e.gallery-icon_close
											svg(class="icon",width="9",height="9")
												use(xlink:href='#icon-close')
								+e.col-map
									+e.address-map#ilsMap2(style="height: 160px;")
								+e.gallery
									+e.gallery-wrapper
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-1.png")
												img(src="./assets/pics/thumb-address-1.jpg")
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-2.png")
												img(src="./assets/pics/thumb-address-2.jpg")
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-3.png")
												img(src="./assets/pics/thumb-address-3.jpg")
										+e.gallery-wrapper-col
											+e.gallery-item(href="./assets/pics/pic-address-3.png")
												img(src="./assets/pics/thumb-address-4.jpg")
								+e.contacts
									+e.contacts-inner
										+e.contacts-item_tel
											+e.contacts-title
												+e.contacts-title-icon_tel
													svg(class="icon",width="18",height="18")
														use(xlink:href='#icon-phone')
												+e.contacts-title-text Телефон
											+e.contacts-tel(href="+79871234567") +7 (499) 350-44-45
										+e.contacts-item_mail
											+e.contacts-title
												+e.contacts-title-icon_mail
													svg(class="icon",width="20",height="16")
														use(xlink:href='#icon-mail-outline')
												+e.contacts-title-text Почтовый адрес
											+e.contacts-mail(href="mailto:info@ilikeservice.ru") info@ilikeservice.ru
										+e.contacts-item_schedule
											+e.contacts-title
												+e.contacts-title-icon_schedule
													svg(class="icon",width="20",height="20")
														use(xlink:href='#icon-access-time')
												+e.contacts-title-text Режим работы:
											+e.contacts-schedule
												span Понедельник - Пятница с 10.00 до 20.00
												span Выходные с 11.00 до 20.00
			+e.col_sidebar
				include ../blocks/support