extends ../tpl/_template-blog

block variables
	- var title = 'Меню страниц'

block content
	+b.blog.page-menu
		+e.inner
			+e.H1.title Меню Html страниц
			ul
				li: a(href="index.html" target="_blank") Главная
				li: a(href="device.html"  target="_blank") Выбор устройства
				li: a(href="price.html"  target="_blank") Прайс
				li: a(href="services.html"  target="_blank") Сервис
				li: a(href="shop.html"  target="_blank") Магазин
				li: a(href="catalog.html"  target="_blank") Каталог
				li: a(href="item-page.html"  target="_blank") Страница товара
				li: a(href="article-index.html"  target="_blank") Статьи главная
				li: a(href="article-inside.html"  target="_blank") Статьи полная
				li: a(href="news-index.html"  target="_blank") Новости главная
				li: a(href="info-page.html"  target="_blank") Инфо страница
				li: a(href="feedbacks-page.html"  target="_blank") Страница отзывы
				li: a(href="faq-index.html"  target="_blank") Страница Вопросы-Ответы Main
				li: a(href="faq-full.html"  target="_blank") Страница Вопросы-Ответы Full
			+e.H2.title Новые страницы
				ul
					li: a(href="feedbacks-page-new.html" target="_blank") Отзывы
					li: a(href="feedbacks-page-write.html"  target="_blank") Форма отзывы
					li: a(href="feedbacks-page-success.html"  target="_blank") Успешная отправка
					li: a(href="feedbacks-page-popups.html"  target="_blank") Попап-скидка при заходе на стр.