/* Styles Start*/
.video {

	&__info-title {
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__info-text {
		color: $grey;
		line-height: 1.43;
	}

	&__player {
		border-radius: 10px;
		overflow: hidden;
		border: 1px solid $silver;
		// outline: 1px solid grey;
		width: 100%;
		// min-height: 167px;
		height: 100%;

	}

	&__player-item {
		height: 100%;
		width: 100%;
	}

	.thumbnail__image {
		position: relative;
		border-radius: 3px;
		overflow: hidden;
		img {
			max-width: 100%;
			max-height: 100%;
			@include img-center;
		}
	}

	.youtube-player {
		// outline: 1px solid green;
		max-width: 100%;
		max-height: 100%;

	}
}
//========================================================
// %mobile
@media #{$mobileonly} {
	.video {
		&__video-col {
			padding-left: 10px;
			padding-right: 10px;
			
			margin-bottom: 25px;
		}

		&__video-wrapper {
			height: 167px;
			width: 100%;
			max-width: 300px;
			display: table;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			iframe {
				border-radius: 8px;
			}
		}

		&__info {
			margin-bottom: 20px;
		}

		// &__player {
			
		// 	width: 100%;
		// 	// min-height: 167px;
		// 	height: 100%;
			
		// }

		// &__player-item {
		// 	height: 100%;
		// 	width: 100%;
		// }

		&__playlist-wrapper {
			.flickity-viewport {
				height: auto !important;
				overflow: visible!important;
				// padding-left: 2px;
				// padding-right: 2px;
			}

			.flickity-slider {
				position: relative!important;
				transform: none !important;

				display: flex;
				flex-wrap: wrap;
			}
		}

		&__playlist-list {
			font-size: 0;
		}

		&__playlist-item {
			position: static!important;
			transform: none!important;
			width: 50%;
			// display: inline-block;
			// vertical-align: top;
			padding-top: 2px;
			
			margin-bottom: 10px;
			

			&:nth-child(odd) {
				padding-right: 12px;
				padding-left: 2px;
			}

			&:nth-child(even) {
				padding-left: 12px;
				padding-right: 2px;
			}
		}

		&__playlist-item_mobile-link {
			font-size: 1.4rem;
			// border: 1px solid $silver;
			border-radius: 8px;
			display: flex;
			// padding: 0!important;
			height: 100%;
			overflow: hidden;

			// outline: 1px solid red;

			.video__btn {
				margin: auto;
				border: none;
				color: $blue;
			}

			a {
				border: 1px solid $silver!important;
				width: 100%;
				height: 100%;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&__playlist-wrapper {
			> .video__btn {
				display: none;
			}
		}

		

		.thumbnail {
			border-radius: 8px;
			border: 1px solid $silver;
			padding: 15px;
			font-size: 1.3rem;
			transition: all .3s;

			// .is-nav-selected & {
			// 	border-color: transparent;
			// 	box-shadow: 0 0 0 2px $blue;
			// }
		}

		.is-nav-selected {
			// padding-right: 2px;
			// padding-top: 2px;
			// padding-left: 2px;
			.thumbnail {
				border-color: transparent;
				box-shadow: 0 0 0 2px $blue;
			}
		}

		.thumbnail__image {
			width: 105px;
			height: 59px;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
		}

		.thumbnail__title {
			text-align: center;
			font-size: 1.3rem;
		}

	}
	//Then delete
	// .video {
	// 	outline: 1px solid purple;
	// }

	// .video__text-col {
	// 	outline: 1px solid green;
	// }

	// .video__video-col_player {
	// 	outline: 1px solid blue;
	// 	// overflow: hidden;
	// 	// height: 100%;
	// }

	.video__video-col-inner {
		// outline: 1px solid brown;
		// outline: 1px solid pink;
		// height: 100%;
		// overflow: hidden;
		height: 167px;
		overflow: hidden;
	}

	// .video__player {
	// 	outline: 1px solid orange;
	// }

	// .video__player-item {
	// 	outline: 1px solid cyan;
	// }

	// .video__player-item-inner {
	// 	outline: 1px solid DeepPink; 
	// }

	// .youtube-player {
	// 	outline: 1px solid LightSeaGreen; 
	// }

	// .video__video-col_side {
	// 	outline: 1px solid red;
	// }

	// .video__playlist-wrapper {outline: 1px solid grey;}
	// .video__playlist-list {outline: 1px solid MediumBlue;}
	// .flickity-viewport {outline: 1px solid SpringGreen;}
	// .flickity-slider {outline: 1px solid orange;}
	// .video__playlist-item {outline: 1px solid yellow;}
	// .video__playlist-item .thumbnail {outline: 1px solid Turquoise;}
}//@media (max-width: 767px) 

//========================================================

// %mobtab
@media #{$mobtabonly} {

}//@media (max-width: 1141px) 

//========================================================
// %tablet
@media #{$tabonly} {
	.video {

		&__info {
			margin-bottom: 20px;
		}

		&__video-col {
			padding-right: 0;
			padding-left: 35px;
		}

		&__video-col_player {
			padding-right: 10px;

		}

		&__video-col-inner {
			height: 401px;
			border-radius: 8px;
			background-color: #f3f4f7;
			// display: flex;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 65px;
		}

		&__video-wrapper {
			height: 258px;
		}

		&__player-item-inner {
			height: 100%;
		}
	}
}//#{$tabonly}

//========================================================
// %tabdesk
@media #{$tabdeskonly} {
	.video {

		

		&__playlist-wrapper {
			.flickity-viewport {
				height: auto !important;
				overflow: visible;
			}
			.flickity-slider {
				position: static!important;
				transform: none!important;
			}
		}

		&__playlist-item {
			position: static !important;
			margin-bottom: 20px;
			counter-increment: carousel-cell;

			.thumbnail {
				position: relative;
				&::before {
					content: counter(carousel-cell);
					position: absolute;
					left: -20px;
					// top: 50%;
					// transform: translateY(-50%);
					top: 13px;
					font-size: 1.3rem;
					color: $grey;
					line-height: 1;
				}
			}

			&.is-nav-selected {
				.thumbnail {
					
					&::before {
							left: -20px;
							// top: 50%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
							border-color: rgba(0, 123, 255, 0);
							border-left-color: #007bff;
							border-width: 5px 7px;
							top: 15px;
							// transform: translateY(-50%);
					}
				}
			}
		}

		&__playlist-item_mobile-link {
			display: none;
		}

		.thumbnail {
			display: flex;
			align-items: flex-start;

			&__image {
				width: 70px;
				height: 39px;

				flex-shrink: 0;
			}

			&__title {
				margin-left: 10px;
				transition: all .3s;
			}

			&:hover {
				.thumbnail__title {
					color: $blue;
				}
			}
		}

		&__btn {
			display: table;
			margin-left: auto;
			margin-right: auto;
			border-radius: 100px;
			font-size: 1.2rem;
			padding: 4px 15px 3px 15px;
		}
	}//.video
} //(min-width: 768px)

//========================================================
// %desktop
@media #{$deskonly} {
	.video {

		&__video-wrapper {
			// height: 318px;
			height: 312px;
		}

		&__playlist-item {

		}

		&__playlist-wrapper {
			padding-left: 30px;
		}

		&__info {
			width: 235px;
			// margin-top: 20px;
			margin-top: 30px;
		}
		
		&__video-col_player {
			padding-right: 0;
		}

		&__video-col_side {
			padding-left: 0;
			padding-right: 0;
			// margin-left: 30px;
			padding-left: 20px;
		}

	}

	.thumbnail {

		&__image {
			position: relative;
			
			&::before {
				content: '';
				height: 30px;
				width: 30px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
				background-image: url("../img/icon-play-round.svg");
				z-index: 2;
				transition: all .3s;
			}
		}

		&:hover {
			.thumbnail__image {
				&::before {
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}
	}
} // (min-width: 1042px)

/*  End*/






@media (min-width: 360px) and (max-width: 767px) {

}// 5" phone

@media (min-width: 375px) and (max-width: 767px) {

} // 4.7"

@media (min-width: 414px) and (max-width: 767px) {

	
}//5.5"